 body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: sans-serif
 }

 h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;
 }

 .btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border-radius: 10px;
    border: 4px solid ;
    cursor: pointer;
    transition: 1s background-color;
    white-space: nowarp;
 }

 .btn:hover{
    background-color: white;
    color: black;
 }

 .split{
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
 }

 .split.left{
    position: absolute;
    left: 0;
    background-color: lightblue;
    background-image: url("https://www.apple.com/newsroom/images/2024/09/apple-debuts-iphone-16-pro-and-iphone-16-pro-max/article/Apple-iPhone-16-Pro-hero-240909_inline.jpg.large.jpg");
    background-size: cover;
 }

.split.right{
    position: absolute;
    right: 0;
    background-color: lightgray;
    background-image: url("https://mahajanelectronics.com/cdn/shop/files/61sU8OqBs4L._SL1500_0e1448c8-9db2-40e2-85bf-4b03b4587d48.jpg?v=1738587791");
    background-size:  cover;
}

.active-left .left{
    width: 75%;
}

.active-left .right{
    width: 25%;
}

.active-right .left{
    width: 25%;
}

.active-right .right{
    width: 75%;
}